# Web Framework & Utilities
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pydantic>=2.5.0
pydantic-settings>=2.1.0
pydantic[email]==2.12.5
python-multipart
python-dotenv
PyYAML

# DS ML
torch
numpy
pandas
scikit-learn
scipy
sentence-transformers>=2.3.1

# Vector Database
faiss-cpu

# Database
pymongo[srv]

# Testing
pytest
httpx
mongomock==4.1.2  # mocking MongoDB 
pytest-cov==4.1.0
pytest-mock==3.12.0
pytest-asyncio==0.21.1
# Mocking and assertions
unittest-xml-reporting==3.2.0

# Code coverage
coverage==7.3.2


# Test utilities
faker==20.1.0  # Generate fake test data
freezegun==1.4.0  # Mock datetime
responses==0.24.1  # Mock HTTP responses

# Auth
python-jose
python-jose[cryptography]
passlib       # hasing algo

